[Unit]
Description=ufdbGuard URL filter
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/ufdbguard
ExecStart=/usr/sbin/ufdbguardd -U ufdb
ExecReload=/bin/kill -HUP ${MAINPID}

[Install]
WantedBy=multi-user.target
